.overlay__outer-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
}

.overlay__container { 
    position: absolute;
    left: 25%;
    top: 27%;
    transform: translate(-2%, 18%);
    width: 50rem;
    height: 15rem;
    background-color: #F7ECDE;
    border-radius: 12px;
}

.overLay__header {
    height: 5rem;
    background-color: #2b1356;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.overlay__heading {
    margin: 0;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

.overlay__body {
    padding: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.overlay__subheading {
    margin: 0;
    border-radius: 0;
    text-align: left;
}

.overlay__button {
    background-color: #2b1356;
    width: 5rem;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border: none;
    float: right;
}